.page-title{
    margin: 50px;
    text-align: center;
}

.joke-generator__image{
    display: block;
    max-width: 60%;
    margin: 0 auto;

}

.joke-generator__content{
    display: block;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    box-sizing: border-box;
}