.favorite__list{
    list-style:none;
    padding: 0;
    &__item{
        background-color: #f1c40f;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        color: #fff;
    }
}
